.subscribe-container {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 80px;
  margin-bottom: 150px;

  .box-containers {
    display: flex;
  }

  .grid-box {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    position: relative;

    @media screen and (min-width: 880px) {
      max-width: 50%;
      flex-basis: 50%;
    }

    &:first-of-type {
      z-index: 1;
      width: 100%;

      @media screen and (min-width: 880px) {
        width: 100%;
      }
    }
  }

  .subscribe-box {
    display: flex;
    background-color: $color-secondary;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    color: white;

    form {
      max-width: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;

      .MuiInputBase-root {
        border-radius: 0;
        color: white;

        .MuiOutlinedInput-notchedOutline {
          border-color: white;
          color: white;
        }
      }

      button {
        padding: 1em;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $font-primary;
        font-size: 0.875rem;
        border-radius: 0;
        margin-bottom: 1em;
      }
    }
  }

  img {
    position: absolute;
    top: -28px;
    left: -28px;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 600px;
  }
}

.spring-pattern {
  position: absolute;
  top: -75px;
  left: -67px;
  right: 0;
  bottom: 0;
  width: 100%;
  background: url(../../components//Subscribe/spring.png);
}

.help {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    border: 4px solid $color-dark;
    font-size: 2.25rem;
    font-weight: 700;
    width: fit-content;
    padding: 0.3em 1.5em;
    border-radius: 0;

    &:hover {
      border: 4px solid $color-dark;
    }
  }

  p {
    font-size: 1.125rem;
    margin: 24px 0;
    color: $color-text;
  }

  .help-icon {
    width: 50px;
    height: 50px;
    color: $color-dark;
  }
}
