$color-dark: #28282a;
$color-primary: #ff3366;
$color-primary-hover: #e62958;
$color-secondary: #005b70;
$color-text: rgba(0, 0, 0, 0.87);
$color-background: #fff5f8;
$font-primary: "Roboto Condensed", sans-serif;
$font-body: "Work Sans", sans-serif;
